# Create markdown cell with the title of the notebook
# H1: Data Science Tools and Ecosystem

# Create a markdown cell for an introduction
# In notebook, Datascience Toold and Ecosystem are summarized.

**Objectives**
- Python
- R
- SQL
- Java
- Scala

# Create a markdown cell to list data science languages
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

# Create a markdown cell to list data science libraries
# Some of the commonly used libraries used by Data Scientist include:
1. Panda
2. Matplotlib
3. Sickit-learn
4. Keras

# Create a markdown cell with the table of Data Science tools
| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Spyder |

# Create a markdown cell introducing arithmetic expression examples
### H3: Below are a few examples of evaluating arithmetic expressions in python
12 + 4
12 - 4
12 * 4
12 / 4

In [ ]:
# Create a code cell to multiply and add numbers
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

In [ ]:
# Create a code to convert minutes in to hours
# This will convert 200 minutes to hours by dividing by 60
200/60

# Create a markdown cell to indicate the Author's name
## H2: Authour
# Tesfalidet Desta